<div class="posts">
  <h1>All Posts</h1>
  {{#each posts}}
    <div class="post">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <p>{{body}}</p>
    </div>
    <div class="caption">
      <p>By {{user.username}} on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</div>