<div>
    <div class="post">
            <h2>
                {{post.title}}
            </h2>
            <p>{{post.body}}</p>
    </div>
    <div class="caption">
        <p>By {{post.User.username}} on  
            {{format_date post.createdAt}}
        </p>
    </div>
    <div>
        <h3>Comments</h3>
        <div class="comment">
            
            <p>this.body</p>
            <p>By this.username on 
                <br>
                 format_date this.createdAt
                </p>
        </div>
    {{#if post.comments}}
    <div>
        <h3>Comments</h3>
        <div class="comment">
            {{#each post.comment}}
            <p>{{this.body}}</p>
            <p>By {{this.username}} on 
                {{format_date createdAt}}
                </p>
            {{/each}}
        </div>
        {{/if}} 
    </div>
<div>
   <h3>
  <a>

    <span>Add a Comment</span>
  </a>
</h3>

    <form id="comment-form">
        <input type="hidden" name="post-id" value="{{post.id}}" />

        <textarea name="comment-body" id="comment-body"></textarea>
        <button type="submit" id="commentButton" >Add Comment</button>
    </form>
</div>

<script src="/js/comment.js"></script>
