<div>
    <div class="post">
            <h2>
                {{post.title}}
            </h2>
            <p>{{post.body}}</p>
    </div>
    <div class="caption">
        <p>By {{post.user.username}} on  
            {{format_date post.createdAt}}
        </p>
    </div>
    {{#if post.Comments}}
    <div id="commentCont">
        <h3>Comments</h3>
        <div class="comment">
            {{#each post.Comments}}
            <p>{{body}}</p>
            <p>By {{user.username}} on 
                {{format_date createdAt}}
                </p>
            {{/each}}
        </div>
    </div>
{{/if}} 
{{!-- {{#if logged_in}} --}}
<div>
   <h3>
    <span>Add a Comment</span>
</h3>

    <form id="comment-form">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <textarea name="comment-body" id="comment-body"></textarea>
        <button type="submit" id="commentButton" >Add Comment</button>
    </form>
</div>
<script src="/js/comment.js"></script>
{{!-- {{/if}} --}}


